* {
    box-sizing: border-box;
}

div:nth-child(1) {
    border: solid 2px black;
    height: 100px;
    width: 500px;
    margin: 10px;
    border-radius: 30px;
    padding: solid 20px;
    text-align: center;
}

div:nth-child(2) {
    justify-content: center;
}

img {
    border: solid 2px black;
    border-radius: 30px;
    width: 3500;
    justify-content: center;
    height: 100px;
}

h1{
    display: block;
    color: blue;
}

h2{
    display: block;
    color: pink
}

h3{
    display: block;
    color: red;
}