.container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:white;
}



.container .cou {

    position: sticky top;
    position: fixed;
    margin-top: 120px;
    width: 300px;
    height: 300px;
    padding: 50px;
    background-color: rgb(181, 222, 222);
    border: 1px solid rgb(0, 0, 0);
    padding: 60px;
    border-radius: 35px;
}


.div .container {
    display: flex;
    height: 200px;
    flex-wrap: wrap;
    overflow: auto;
    align-items: center;
}

input:checked + label + .button
{
    display: block;
}

.container div {
    text-align: center;
}

.images{
    display: flex;
    height: 200px;
    flex-wrap: wrap;
    overflow-y: scroll;

}

.button{
    display: none;
}

img{
    width: 120px;
    height: 100px;
    border-radius: 30px;

}